body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 600px;
    background-image: linear-gradient(to left, white, #f1f1f1) ;
  }
  
  #header {
    background-image: linear-gradient(to right, #85FFBD, #FFFB7D);
    padding: 10px;
    text-align: center;
    font-size: 35px;
  }
  
  #display-recipe {
    background-image: linear-gradient(to bottom right, #85FFBD, #FFFB7D);
    padding: 40px;
    margin: auto;
    width: 50%;
    text-align: center;
  }